html, body {
  overflow-y: hidden; }

.container {
  position: relative; }

.wrapper {
  height: calc(100vh - 80px);
  padding-left: 90px;
  overflow: hidden; }

.wrapper.overlay:before {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.5); }

.wrapper.menuOn {
  padding-left: 206px; }

.wrapper.menuOn nav.lnb {
  width: 206px; }

header .header__wrap {
  background-color: #141C09;
  height: 80px;
  display: flex;
  position: relative;
  padding: 0 30px;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  z-index: 20; }
  header .header__wrap h1.logo a {
    display: inline-block;
    vertical-align: middle;
    background: url("../img/img_logo.png") no-repeat center/cover;
    width: 150px;
    height: 41px; }
  header .header__wrap .right-box {
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 0; }
    header .header__wrap .right-box .profile-box {
      display: inline-block;
      vertical-align: middle; }
      header .header__wrap .right-box .profile-box .img-box {
        display: inline-block;
        vertical-align: middle; }
      header .header__wrap .right-box .profile-box .txt-box {
        display: inline-block;
        vertical-align: middle;
        padding-left: 14px;
        letter-spacing: -0.95px;
        font-weight: 300;
        font-size: 19px;
        color: #000;
        color: #fff; }
        header .header__wrap .right-box .profile-box .txt-box .unit {
          font-size: 12px;
          letter-spacing: -0.6px;
          padding-left: 3px; }

nav.lnb {
  position: absolute;
  left: 0;
  width: 90px;
  height: 100%;
  background-color: #376187;
  z-index: 10;
  font-size: 0; }
  nav.lnb .lnb__header {
    display: none; }
  nav.lnb .lnb__body {
    height: 100%; }
  nav.lnb .lnb__menu {
    height: 100%;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.15) 3px 0px 3px 0px;
    position: relative;
    z-index: 10; }
    nav.lnb .lnb__menu li.on a {
      background-color: #E05445 !important; }
      nav.lnb .lnb__menu li.on a .txt-box {
        color: #fff; }
    nav.lnb .lnb__menu li.on:nth-child(1) a {
      background-image: url("../img/lnb_menu1_on.png"); }
    nav.lnb .lnb__menu li.on:nth-child(2) a {
      background-image: url("../img/lnb_menu2_on.png"); }
    nav.lnb .lnb__menu li.on:nth-child(3) a {
      background-image: url("../img/lnb_menu3_on.png"); }
    nav.lnb .lnb__menu li.on:nth-child(4) a {
      background-image: url("../img/lnb_menu4_on.png"); }
    nav.lnb .lnb__menu li.on:nth-child(5) a {
      background-image: url("../img/lnb_menu5_on.png"); }
    nav.lnb .lnb__menu li.on:nth-child(6) a {
      background-image: url("../img/lnb_menu6_on.png"); }
    nav.lnb .lnb__menu li:nth-child(1) a {
      background: url("../img/lnb_menu1.png") no-repeat center top 20px/31px 30px; }
    nav.lnb .lnb__menu li:nth-child(2) a {
      background: url("../img/lnb_menu2.png") no-repeat center top 20px/25px 36px; }
    nav.lnb .lnb__menu li:nth-child(3) a {
      background: url("../img/lnb_menu3.png") no-repeat center top 20px/31px 30px; }
    nav.lnb .lnb__menu li:nth-child(4) a {
      background: url("../img/lnb_menu4.png") no-repeat center top 20px/31px 30px; }
    nav.lnb .lnb__menu li:nth-child(5) a {
      background: url("../img/lnb_menu5.png") no-repeat center top 20px/31px 30px; }
    nav.lnb .lnb__menu li:nth-child(6) a {
      background: url("../img/lnb_menu6.png") no-repeat center top 20px/31px 30px; }
    nav.lnb .lnb__menu li a {
      width: 90px;
      height: 90px;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      letter-spacing: -0.7px;
      padding-bottom: 14px; }
      nav.lnb .lnb__menu li a .txt-box {
        color: #9bb0c3;
        font-weight: 500;
        font-size: 14px; }
  nav.lnb .lnb__con {
    position: absolute;
    left: 90px;
    top: 0;
    bottom: 0; }
    nav.lnb .lnb__con .toggle-btn {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background: url("../img/ic_toggle_btn.png") no-repeat center/cover;
      width: 25px;
      height: 45px;
      right: -25px;
      z-index: -1; }
    nav.lnb .lnb__con .lnb__con__wrap {
      height: calc(100% - 80px);
      overflow-y: auto;
      overflow-x: hidden;
      min-width: 300px;
      z-index: 5;
      background-color: #fff;
      box-shadow: rgba(0, 0, 0, 0.15) 3px 0px 3px 0px; }
      nav.lnb .lnb__con .lnb__con__wrap .search__box {
        padding: 10px 12px;
        background-color: #55687A;
        position: relative; }
        nav.lnb .lnb__con .lnb__con__wrap .search__box .search-result-box {
          position: absolute;
          left: 12px;
          right: 12px;
          top: 40px;
          background-color: #fff;
          z-index: 1;
          border: 1px solid #ccc; }
          nav.lnb .lnb__con .lnb__con__wrap .search__box .search-result-box .top-box {
            padding: 14px 10px 10px;
            font-size: 10px;
            color: #4d4d4d;
            border-bottom: 1px solid #e6e6e6; }
            nav.lnb .lnb__con .lnb__con__wrap .search__box .search-result-box .top-box .accent {
              color: #376187; }
          nav.lnb .lnb__con .lnb__con__wrap .search__box .search-result-box .result-list ul {
            max-height: 600px;
            overflow-y: auto; }
            nav.lnb .lnb__con .lnb__con__wrap .search__box .search-result-box .result-list ul li a {
              border-bottom: 1px solid #e6e6e6;
              display: block;
              padding: 15px 10px; }
              nav.lnb .lnb__con .lnb__con__wrap .search__box .search-result-box .result-list ul li a .tit-box {
                color: #376187;
                font-size: 12px;
                letter-spacing: -0.72px; }
              nav.lnb .lnb__con .lnb__con__wrap .search__box .search-result-box .result-list ul li a .info-box {
                padding-top: 11px; }
                nav.lnb .lnb__con .lnb__con__wrap .search__box .search-result-box .result-list ul li a .info-box .row {
                  color: #4d4d4d;
                  line-height: 22px;
                  font-size: 14px;
                  letter-spacing: -0.7px; }
        nav.lnb .lnb__con .lnb__con__wrap .search__box .input-box {
          position: relative;
          font-size: 0;
          background-color: #f7f7f7;
          overflow: hidden;
          border: 1px solid #ccc; }
          nav.lnb .lnb__con .lnb__con__wrap .search__box .input-box input {
            width: calc(100% - 30px);
            background-color: #f7f7f7;
            height: 30px;
            outline: none;
            font-size: 14px;
            letter-spacing: -0.7px;
            padding: 0 13px; }
            nav.lnb .lnb__con .lnb__con__wrap .search__box .input-box input::placeholder {
              letter-spacing: -0.7px;
              color: #a4a4a4; }
          nav.lnb .lnb__con .lnb__con__wrap .search__box .input-box .search-btn {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            display: inline-block;
            vertical-align: middle;
            width: 30px;
            height: 30px;
            background: #cccccc url("../img/ic_search.png") no-repeat center; }
      nav.lnb .lnb__con .lnb__con__wrap .tabs__box ul {
        font-size: 0; }
        nav.lnb .lnb__con .lnb__con__wrap .tabs__box ul li {
          display: inline-block;
          vertical-align: middle;
          width: 33.33%;
          position: relative;
          background-color: #55687A; }
          nav.lnb .lnb__con .lnb__con__wrap .tabs__box ul li.on {
            background-color: #fff; }
            nav.lnb .lnb__con .lnb__con__wrap .tabs__box ul li.on a {
              color: #376187; }
            nav.lnb .lnb__con .lnb__con__wrap .tabs__box ul li.on:after {
              content: '';
              position: absolute;
              left: 10px;
              right: 10px;
              bottom: 0;
              background-color: #376187;
              height: 2px; }
          nav.lnb .lnb__con .lnb__con__wrap .tabs__box ul li a {
            font-size: 14px;
            color: #fff;
            width: 100%;
            display: flex;
            height: 40px;
            align-items: center;
            justify-content: center; }
      nav.lnb .lnb__con .lnb__con__wrap .group__box.type-box3 ul li {
        width: 33.33%; }
      nav.lnb .lnb__con .lnb__con__wrap .group__box ul {
        font-size: 0; }
        nav.lnb .lnb__con .lnb__con__wrap .group__box ul li {
          display: inline-block;
          vertical-align: middle;
          width: 25%; }
          nav.lnb .lnb__con .lnb__con__wrap .group__box ul li.on {
            color: #fff; }
            nav.lnb .lnb__con .lnb__con__wrap .group__box ul li.on a {
              position: relative;
              font-weight: 700;
              color: #376187; }
              nav.lnb .lnb__con .lnb__con__wrap .group__box ul li.on a .txt {
                position: relative; }
                nav.lnb .lnb__con .lnb__con__wrap .group__box ul li.on a .txt:after {
                  content: '';
                  position: absolute;
                  right: -3px;
                  top: -2px;
                  width: 3px;
                  height: 3px;
                  border-radius: 50%;
                  background-color: #E05445; }
          nav.lnb .lnb__con .lnb__con__wrap .group__box ul li a {
            font-size: 14px;
            color: #808080;
            width: 100%;
            display: flex;
            height: 40px;
            align-items: center;
            justify-content: center; }
      nav.lnb .lnb__con .lnb__con__wrap .group__area .group__result_box {
        display: none; }
        nav.lnb .lnb__con .lnb__con__wrap .group__area .group__result_box ul {
          font-size: 0;
          border: 1px solid #ccc;
          border-left: none;
          border-right: none; }
          nav.lnb .lnb__con .lnb__con__wrap .group__area .group__result_box ul li {
            width: 100%;
            display: flex;
            border-bottom: 1px solid #ccc;
            background-color: #f5f7f9; }
            nav.lnb .lnb__con .lnb__con__wrap .group__area .group__result_box ul li:last-child {
              border-bottom: none; }
            nav.lnb .lnb__con .lnb__con__wrap .group__area .group__result_box ul li.on {
              background-color: #fff; }
              nav.lnb .lnb__con .lnb__con__wrap .group__area .group__result_box ul li.on a {
                color: #000; }
            nav.lnb .lnb__con .lnb__con__wrap .group__area .group__result_box ul li a {
              font-size: 14px;
              width: 100%;
              display: flex;
              height: 35px;
              align-items: center;
              justify-content: center;
              color: #111; }
      nav.lnb .lnb__con .lnb__con__wrap .result__box .result__tit {
        background: #ecf7fd url("../img/ic_show_arrow.png") no-repeat right 27px top 27px;
        padding: 0 17px;
        border-bottom: 1px solid #eaedee; }
        nav.lnb .lnb__con .lnb__con__wrap .result__box .result__tit .txt {
          display: inline-block;
          vertical-align: middle;
          padding: 23px 0 12px;
          font-weight: 700;
          font-size: 15px;
          letter-spacing: -0.75px;
          color: #376187; }
      nav.lnb .lnb__con .lnb__con__wrap .result__box .result__con .list__wrap ul li a {
        display: block;
        align-items: center;
        padding-left: 46px;
        padding-right: 10px;
        border-bottom: 1px solid #F2F2F2; }
        nav.lnb .lnb__con .lnb__con__wrap .result__box .result__con .list__wrap ul li a.type1 {
          background: url("../img/ic_menu1_mark.png") no-repeat left 20px center; }
        nav.lnb .lnb__con .lnb__con__wrap .result__box .result__con .list__wrap ul li a.type2 {
          background: url("../img/ic_menu2_mark.png") no-repeat left 20px center; }
        nav.lnb .lnb__con .lnb__con__wrap .result__box .result__con .list__wrap ul li a.type3 {
          background: url("../img/ic_menu3_mark.png") no-repeat left 20px center; }
        nav.lnb .lnb__con .lnb__con__wrap .result__box .result__con .list__wrap ul li a.type4 {
          background: url("../img/ic_menu4_mark.png") no-repeat left 20px center; }
        nav.lnb .lnb__con .lnb__con__wrap .result__box .result__con .list__wrap ul li a.type5 {
          background: url("../img/ic_menu5_mark.png") no-repeat left 20px center; }
        nav.lnb .lnb__con .lnb__con__wrap .result__box .result__con .list__wrap ul li a .txt-box {
          display: flex;
          align-items: center;
          height: 40px;
          color: #7f7f80;
          font-size: 14px;
          letter-spacing: -0.84px; }

section.map__wrap {
  width: 100%;
  height: 100%;
  position: relative; }
  section.map__wrap a.pin {
    position: absolute;
    width: 35px;
    height: 50px;
    z-index: 2;
    background: url("../img/ic_marker.png") no-repeat center/cover; }
    section.map__wrap a.pin.type1 {
      background: url("../img/ic_menu1_pin.png") no-repeat center/cover; }
    section.map__wrap a.pin.type2 {
      background: url("../img/ic_menu2_pin.png") no-repeat center/cover; }
    section.map__wrap a.pin.type3 {
      background: url("../img/ic_menu3_pin.png") no-repeat center/cover; }
    section.map__wrap a.pin.type4 {
      background: url("../img/ic_menu4_pin.png") no-repeat center/cover; }
    section.map__wrap a.pin.type5 {
      background: url("../img/ic_menu5_pin.png") no-repeat center/cover; }
    section.map__wrap a.pin.heart {
      background: url("../img/ic_heart_pin.png") no-repeat center/cover; }

article.map__menu {
  position: absolute;
  right: 20px;
  top: 25px;
  z-index: 10;
  font-size: 0; }
  article.map__menu .map__menu__wrap .row {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
    background-color: #f4f4f4; }
    article.map__menu .map__menu__wrap .row + .row {
      margin-top: 10px; }
    article.map__menu .map__menu__wrap .row .zoom-range {
      z-index: -1;
      width: 100%;
      text-align: center;
      padding: 5px 0;
      background-color: #f4f4f4; }
      article.map__menu .map__menu__wrap .row .zoom-range .rangeslider--vertical {
        height: 67px;
        min-height: 67px;
        display: inline-block;
        vertical-align: middle;
        background: #f4f4f4 url("../img/img_zoom_bg.png") no-repeat center;
        box-shadow: none;
        border-radius: 0; }
      article.map__menu .map__menu__wrap .row .zoom-range .rangeslider__handle {
        width: 13px;
        height: 13px;
        border-radius: 50%;
        left: 50%;
        transform: translateX(-50%); }
        article.map__menu .map__menu__wrap .row .zoom-range .rangeslider__handle:after {
          display: none; }
      article.map__menu .map__menu__wrap .row .zoom-range .rangeslider__fill {
        display: none; }
      article.map__menu .map__menu__wrap .row .zoom-range #zoom {
        transform: rotate(-90deg);
        width: 100%;
        height: 100px; }
    article.map__menu .map__menu__wrap .row a {
      display: inline-flex;
      align-items: flex-end;
      justify-content: center;
      width: 46px;
      height: 46px;
      border-radius: 4px;
      padding-bottom: 8px;
      font-weight: 500;
      font-size: 10px;
      letter-spacing: -0.5px;
      color: #868787;
      font-size: 0; }
      article.map__menu .map__menu__wrap .row a.gps-btn {
        background: #fff url("../img/ic_gps.png") no-repeat center center; }
      article.map__menu .map__menu__wrap .row a.save-btn {
        background: #fff url("../img/ic_save.png") no-repeat center center; }
      article.map__menu .map__menu__wrap .row a.reset-btn {
        background: #fff url("../img/ic_reset.png") no-repeat center center; }
      article.map__menu .map__menu__wrap .row a.zoom-plus-btn {
        background: #fff url("../img/ic_zoom_plus.png") no-repeat center top 12px; }
      article.map__menu .map__menu__wrap .row a.zoom-minus-btn {
        background: #fff url("../img/ic_zoom_minus.png") no-repeat center top 16px; }
      article.map__menu .map__menu__wrap .row a.zoom-plus-btn, article.map__menu .map__menu__wrap .row a.zoom-minus-btn {
        font-size: 0;
        display: block;
        padding-bottom: 0;
        background-position: center; }

article.pin__info {
  position: absolute;
  z-index: 10; }
  article.pin__info .pin__info__wrap {
    background-color: #fff;
    border-radius: 15px;
    overflow: hidden;
    background: url("../img/img_pin_bg.png") no-repeat center/cover;
    width: 388px;
    height: 254px;
    padding: 35px 30px; }
    article.pin__info .pin__info__wrap .close-btn {
      position: absolute;
      z-index: 1;
      right: 15px;
      top: 15px;
      background: url("../img/close@3x.png") no-repeat center/cover;
      display: inline-block;
      vertical-align: middle;
      width: 24px;
      height: 24px; }
    article.pin__info .pin__info__wrap .pin-tit-box {
      font-size: 18px;
      letter-spacing: -1.2px;
      font-weight: 700;
      padding-bottom: 10px;
      padding-right: 30px;
      position: relative;
      border-bottom: 1px solid #aab4bd; }
      article.pin__info .pin__info__wrap .pin-tit-box .like-btn {
        display: inline-block;
        vertical-align: middle;
        background: url("../img/iconIcHeartOff.svg") no-repeat center/cover;
        width: 24px;
        height: 24px;
        position: absolute;
        right: 0;
        top: 0; }
        article.pin__info .pin__info__wrap .pin-tit-box .like-btn.on {
          background: url("../img/iconIcHeartOn.svg") no-repeat center/cover; }
    article.pin__info .pin__info__wrap .pin-con-box {
      padding: 10px 0;
      position: relative; }
      article.pin__info .pin__info__wrap .pin-con-box .img-box {
        width: 140px;
        height: 100px;
        position: absolute;
        right: 0;
        top: 10px; }
        article.pin__info .pin__info__wrap .pin-con-box .img-box img {
          width: 100%;
          height: 100%; }
      article.pin__info .pin__info__wrap .pin-con-box .info-box .item {
        height: 20px;
        display: flex;
        align-items: center;
        border-radius: 10px; }
        article.pin__info .pin__info__wrap .pin-con-box .info-box .item + .item {
          margin-top: 7px; }
        article.pin__info .pin__info__wrap .pin-con-box .info-box .item .subject {
          font-weight: 500;
          display: inline-flex;
          font-size: 11px;
          letter-spacing: -0.66px;
          justify-content: flex-start;
          color: #00406e;
          width: 20%; }
        article.pin__info .pin__info__wrap .pin-con-box .info-box .item .con {
          display: inline-flex;
          font-size: 11px;
          letter-spacing: -0.66px;
          width: 80%;
          font-weight: 500;
          color: #494746; }
    article.pin__info .pin__info__wrap .pin-menu-box {
      text-align: right; }
      article.pin__info .pin__info__wrap .pin-menu-box .more-btn {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-size: 11px;
        color: #376187;
        letter-spacing: -0.66px;
        width: 70px;
        height: 25px;
        border: 1px solid #aab4bd; }

article.map__info__msg {
  z-index: 10;
  position: absolute;
  right: 30px;
  bottom: 30px;
  background-color: rgba(0, 0, 0, 0.25);
  padding: 5px 5px;
  color: #fff;
  font-size: 14px;
  line-height: 20px; }

/*# sourceMappingURL=style.css.map */