.toggleBtnBox {
  font-size: 0;
  line-height: 20px;
  display: inline-block;
  vertical-align: middle; }

.toggleBtnBox .toggleBtn {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 36px;
  height: 18px;
  line-height: 108px;
  border-radius: 9px;
  background-color: #e4e4e4;
  border: 0.7px solid #d8d8d8;
  color: #fff;
  font-weight: 900;
  font-size: 37px; }

.toggleBtnBox .toggleBtn:after {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 1px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #fff;
  transition: left 0.3s ease-out; }

.toggleBtnBox .toggleBtn.on {
  background-color: #3798d6;
  border: 0.7px solid #2887c4; }

.toggleBtnBox .toggleBtn.on:after {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 19px;
  border-radius: 50%;
  background-color: #fff;
  transition: left 0.3s ease-out; }

.toggleBtnBox.type2 {
  line-height: 25px; }

.toggleBtnBox.type2 .toggleBtn {
  width: 50px;
  height: 22px;
  background-color: #e4e4e4;
  border: 1px solid #cacaca;
  border-radius: 12px; }

.toggleBtnBox.type2 .toggleBtn:after {
  left: -1px;
  width: 24px;
  height: 24px;
  border: 1px solid #cacaca;
  background-color: #fff;
  transition: left 0.3s ease-out; }

.toggleBtnBox.type2 .toggleBtn.on {
  background-color: #2fc8d8;
  border: 0.7px solid #01879f; }

.toggleBtnBox.type2 .toggleBtn.on:after {
  border: 1px solid #557479;
  left: 25px;
  transition: left 0.3s ease-out; }

.toggleBtnBox.type3 {
  line-height: 25px; }

.toggleBtnBox.type3 .toggleBtn {
  width: 50px;
  height: 22px;
  background-color: #e4e4e4;
  border: 1px solid #cacaca;
  border-radius: 12px; }

.toggleBtnBox.type3 .toggleBtn:after {
  left: -1px;
  width: 24px;
  height: 24px;
  border: 1px solid #cacaca;
  background-color: #fff;
  transition: left 0.3s ease-out; }

.toggleBtnBox.type3 .toggleBtn.on {
  background-color: #4c97c7;
  border: 0.7px solid #1273b1; }

.toggleBtnBox.type3 .toggleBtn.on:after {
  border: 1px solid #557479;
  left: 25px;
  transition: left 0.3s ease-out; }

article.mapSearch {
  position: absolute;
  z-index: 11; }

article.mapSearch.location_type1 {
  top: 10px;
  right: 18px; }

article.mapSearch.location_type2 {
  left: 120px;
  top: 10px; }

article.mapSearch .mapSearchWrap {
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.2);
  font-size: 0; }

article.mapSearch .mapSearchWrap .sbox {
  display: inline-block;
  vertical-align: middle;
  width: 100px; }

article.mapSearch .mapSearchWrap .sbox select {
  height: 36px;
  color: rgba(34, 34, 34, 0.8);
  font-size: 15px;
  background: url("../img/ic_select_arrow.png") no-repeat top 16px right 9px;
  padding: 0 30px 0 10px; }

article.mapSearch .mapSearchWrap .inputBox {
  display: inline-block;
  vertical-align: middle;
  width: 200px;
  border-left: 1px solid #dadad5;
  position: relative;
  padding-right: 40px; }

article.mapSearch .mapSearchWrap .inputBox input {
  outline: none;
  width: 100%;
  height: 36px;
  font-size: 15px;
  padding: 0 5px;
  background-color: transparent; }

article.mapSearch .mapSearchWrap .inputBox .searchBtn {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 36px;
  background: url("../img/ic_map_search_btn.png") no-repeat center; }

article.droneState {
  position: absolute;
  top: 10px;
  left: 585px;
  z-index: 11; }

article.droneState .droneStateWrap {
  border: 1px solid #998fb7;
  border-radius: 18px;
  font-size: 0;
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.2);
  padding: 0 33px 0 45px;
  background: rgba(255, 255, 255, 0.9) url("../img/ic_drone_state.png") no-repeat center left 17px; }

article.droneState .droneStateWrap .stateTxt {
  line-height: 34px;
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
  letter-spacing: -0.12px; }

article.droneState .droneStateWrap .stateNum {
  display: inline-block;
  vertical-align: middle;
  padding-left: 4px; }

article.droneState .droneStateWrap .stateNum .now {
  line-height: 34px;
  display: inline-block;
  vertical-align: middle;
  color: #0080e2;
  font-size: 16px;
  font-weight: 700; }

article.droneState .droneStateWrap .stateNum .max {
  line-height: 34px;
  display: inline-block;
  vertical-align: middle;
  color: #665f7a;
  font-size: 13px;
  letter-spacing: -0.13px; }

article.zoomState {
  position: absolute;
  top: 10px;
  left: 15px;
  z-index: 11; }

article.zoomState .zoomStateWrap {
  padding: 0 8px;
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  width: 90px;
  background: rgba(255, 255, 255, 0.7) url("../img/img_zoom.png") no-repeat center bottom 5px;
  text-align: center; }

article.zoomState .zoomStateWrap .zoomTxt {
  line-height: 34px;
  font-size: 12px; }

article.mapControl {
  position: absolute;
  left: 15px;
  top: 65px; }

article.mapControl .row {
  position: relative;
  z-index: 15;
  font-size: 0; }

article.mapControl .row .innerRow {
  height: 31px; }

article.mapControl .row + .row {
  margin-top: 15px; }

article.mapControl .row .setBtn {
  width: 34px;
  height: 32px;
  background-color: #fff;
  border-radius: 1.5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.2);
  position: relative; }

article.mapControl .row .setBtn.setShow2:after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  width: 9px;
  height: 9px;
  background: url("../img/ic_more.png") no-repeat center; }

article.mapControl .row .setBtn.setShow:hover:after {
  background: url("../img/ic_mark_on.png") no-repeat center; }

article.mapControl .row .setBtn.setShow:after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  width: 9px;
  height: 9px;
  background: url("../img/ic_mark.png") no-repeat center; }

article.mapControl .row .setBtn.on.droneBtn {
  background: #26c2cc url("../img/ic_drone_state_on.png") no-repeat center; }

article.mapControl .row .setBtn.droneBtn {
  background: #fff url("../img/ic_drone_state_off.png") no-repeat center; }

article.mapControl .row .setBtn.active ~ ul.btnMenu {
  display: block; }

article.mapControl .row a[data-btn="1-1"] {
  background: #fff url("../img/ic_btn1-1.png") no-repeat center; }

article.mapControl .row a[data-btn="1-2"] {
  background: #fff url("../img/ic_btn1-2.png") no-repeat center; }

article.mapControl .row a[data-btn="1-3"] {
  background: #fff url("../img/ic_btn1-3.png") no-repeat center; }

article.mapControl .row a[data-btn="2-1"] {
  background: #fff url("../img/ic_btn2-1.png") no-repeat center; }

article.mapControl .row a[data-btn="2-2"] {
  background: #fff url("../img/ic_btn2-2.png") no-repeat center; }

article.mapControl .row a[data-btn="2-3"] {
  background: #fff url("../img/ic_btn2-3.png") no-repeat center; }

article.mapControl .row a[data-btn="2-4"] {
  background: #fff url("../img/ic_btn2-4.png") no-repeat center; }

article.mapControl .row a[data-btn="3-1"] {
  background: #fff url("../img/ic_btn3-1.png") no-repeat center; }

article.mapControl .row a[data-btn="3-2"] {
  background: #fff url("../img/ic_btn3-2.png") no-repeat center; }

article.mapControl .row a[data-btn="3-3"] {
  background: #fff url("../img/ic_btn3-3.png") no-repeat center; }

article.mapControl .row a[data-btn="3-4"] {
  background: #fff url("../img/ic_btn3-4.png") no-repeat center; }

article.mapControl .row a.set1 {
  background: #fff url("../img/ic_set1.png") no-repeat center; }

article.mapControl .row a.set1.on, article.mapControl .row a.set1:hover {
  background: #fff url("../img/ic_set1_on.png") no-repeat center; }

article.mapControl .row a.set2 {
  background: #fff url("../img/ic_set2.png") no-repeat center; }

article.mapControl .row a.set2.on, article.mapControl .row a.set2:hover {
  background: #fff url("../img/ic_set2_on.png") no-repeat center; }

article.mapControl .row a.set3 {
  background: #fff url("../img/ic_set3.png") no-repeat center; }

article.mapControl .row a.set3.on, article.mapControl .row a.set3:hover {
  background: #fff url("../img/ic_set3_on.png") no-repeat center; }

article.mapControl .row a.set4 {
  background: #fff url("../img/ic_set4.png") no-repeat center; }

article.mapControl .row a.set4.on, article.mapControl .row a.set4:hover {
  background: #fff url("../img/ic_set4_on.png") no-repeat center; }

article.mapControl .row a.set5 {
  background: #fff url("../img/ic_set5.png") no-repeat center; }

article.mapControl .row a.set5.on, article.mapControl .row a.set5:hover {
  background: #fff url("../img/ic_set5_on.png") no-repeat center; }

article.mapControl .row a.set6 {
  background: #fff url("../img/ic_set6.png") no-repeat center; }

article.mapControl .row a.set6.on, article.mapControl .row a.set6:hover {
  background: #fff url("../img/ic_set6_on.png") no-repeat center; }

article.mapControl .row a.set7 {
  background: #fff url("../img/ic_set7.png") no-repeat center; }

article.mapControl .row a.set7.on, article.mapControl .row a.set7:hover {
  background: #fff url("../img/ic_set7_on.png") no-repeat center; }

article.mapControl .row a.set8 {
  background: #fff url("../img/ic_set8.png") no-repeat center; }

article.mapControl .row a.set8.on, article.mapControl .row a.set8:hover {
  background: #fff url("../img/ic_set8_on.png") no-repeat center; }

article.mapControl .row a.set9 {
  background: #fff url("../img/ic_set9.png") no-repeat center; }

article.mapControl .row a.set9.on, article.mapControl .row a.set9:hover {
  background: #fff url("../img/ic_set9_on.png") no-repeat center; }

article.mapControl .row a.map1 {
  background: #fff url("../img/ic_btn3-1.png") no-repeat center; }

article.mapControl .row a:hover[data-btn="1-1"], article.mapControl .row a:active[data-btn="1-1"] {
  background: #fff url("../img/ic_btn1-1_on.png") no-repeat center; }

article.mapControl .row a:hover[data-btn="1-2"], article.mapControl .row a:active[data-btn="1-2"] {
  background: #fff url("../img/ic_btn1-2_on.png") no-repeat center; }

article.mapControl .row a:hover[data-btn="1-3"], article.mapControl .row a:active[data-btn="1-3"] {
  background: #fff url("../img/ic_btn1-3_on.png") no-repeat center; }

article.mapControl .row a:hover[data-btn="2-1"], article.mapControl .row a:active[data-btn="2-1"] {
  background: #fff url("../img/ic_btn2-1_on.png") no-repeat center; }

article.mapControl .row a:hover[data-btn="2-2"], article.mapControl .row a:active[data-btn="2-2"] {
  background: #fff url("../img/ic_btn2-2_on.png") no-repeat center; }

article.mapControl .row a:hover[data-btn="2-3"], article.mapControl .row a:active[data-btn="2-3"] {
  background: #fff url("../img/ic_btn2-3_on.png") no-repeat center; }

article.mapControl .row a:hover[data-btn="2-4"], article.mapControl .row a:active[data-btn="2-4"] {
  background: #fff url("../img/ic_btn2-4_on.png") no-repeat center; }

article.mapControl .row ul.btnMenu {
  display: none;
  position: absolute;
  border-radius: 1.5px;
  height: 32px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.2);
  top: 0;
  left: 40px;
  font-size: 0;
  white-space: nowrap;
  overflow: hidden; }

article.mapControl .row ul.btnMenu li {
  display: inline-block;
  vertical-align: middle; }

article.mapControl .row ul.btnMenu li:last-child a {
  border-right: 1px solid transparent; }

article.mapControl .row ul.btnMenu li a {
  border-right: 1px solid #e9e9e6;
  display: inline-block;
  vertical-align: middle;
  width: 36px;
  height: 32px; }

article.weather {
  position: absolute;
  left: 15px;
  bottom: 20px;
  width: 300px; }

article.weather .weatherWrap {
  position: relative;
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.2); }

article.weather .weatherWrap .topBox {
  padding: 0 14px;
  border-bottom: 1px solid #eaebe9; }

article.weather .weatherWrap .topBox .addrTxt {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  line-height: 39px;
  padding-left: 22px;
  font-weight: 700;
  background: url("../img/ic_weather_place.png") no-repeat center left; }

article.weather .weatherWrap .bottomBox ul {
  font-size: 0; }

article.weather .weatherWrap .bottomBox ul li {
  display: inline-block;
  vertical-align: middle;
  width: 25%;
  text-align: center; }

article.weather .weatherWrap .bottomBox ul li .txt {
  display: inline-block;
  vertical-align: middle;
  font-weight: 300;
  font-size: 13px;
  line-height: 50px; }

article.weather .weatherWrap .bottomBox ul li.weather i.ic {
  display: inline-block;
  vertical-align: middle;
  background: url("../img/ic_weather.png") no-repeat center center;
  background-position: 0 0;
  width: 26px;
  height: 26px; }

article.weather .weatherWrap .bottomBox ul li.weather i.ic.state1 {
  background-position-y: 0; }

article.weather .weatherWrap .bottomBox ul li.weather i.ic.state2 {
  background-position-y: -50px; }

article.weather .weatherWrap .bottomBox ul li.weather i.ic.state3 {
  background-position-y: -100px; }

article.weather .weatherWrap .bottomBox ul li.weather i.ic.state4 {
  background-position-y: -150px; }

article.weather .weatherWrap .bottomBox ul li.weather i.ic.state5 {
  background-position-y: -200px; }

article.weather .weatherWrap .bottomBox ul li.weather i.ic.state6 {
  background-position-y: -250px; }

article.weather .weatherWrap .bottomBox ul li.weather i.ic.state7 {
  background-position-y: -300px; }

article.weather .weatherWrap .bottomBox ul li.weather i.ic.state8 {
  background-position-y: -350px; }

article.weather .weatherWrap .bottomBox ul li.weather i.ic.state9 {
  background-position-y: -400px; }

article.weather .weatherWrap .bottomBox ul li.weather i.ic.state10 {
  background-position-y: -450px; }

article.weather .weatherWrap .bottomBox ul li.weather i.ic.state11 {
  background-position-y: -500px; }

article.weather .weatherWrap .bottomBox ul li.weather i.ic.state12 {
  background-position-y: -550px; }

article.weather .weatherWrap .bottomBox ul li.weather i.ic.state13 {
  background-position-y: -600px; }

article.weather .weatherWrap .bottomBox ul li.weather i.ic.state14 {
  background-position-y: -650px; }

article.weather .weatherWrap .bottomBox ul li.weather i.ic.state15 {
  background-position-y: -700px; }

article.weather .weatherWrap .bottomBox ul li.weather i.ic.state16 {
  background-position-y: -750px; }

article.weather .weatherWrap .bottomBox ul li.weather i.ic.state17 {
  background-position-y: -800px; }

article.weather .weatherWrap .bottomBox ul li.weather i.ic.state18 {
  background-position-y: -850px; }

article.weather .weatherWrap .bottomBox ul li.weather i.ic.state19 {
  background-position-y: -900px; }

article.weather .weatherWrap .bottomBox ul li.wind i.ic {
  display: inline-block;
  vertical-align: middle;
  background: url("../img/ic_wind.png") no-repeat center center;
  background-position: 0 0;
  width: 26px;
  height: 26px; }

article.weather .weatherWrap .bottomBox ul li.wind i.ic.state1 {
  background-position-y: 0; }

article.weather .weatherWrap .bottomBox ul li.wind i.ic.state2 {
  background-position-y: -50px; }

article.weather .weatherWrap .bottomBox ul li.wind i.ic.state3 {
  background-position-y: -100px; }

article.weather .weatherWrap .bottomBox ul li.wind i.ic.state4 {
  background-position-y: -150px; }

article.weather .weatherWrap .bottomBox ul li.wind i.ic.state5 {
  background-position-y: -200px; }

article.weather .weatherWrap .bottomBox ul li.wind i.ic.state6 {
  background-position-y: -250px; }

article.weather .weatherWrap .bottomBox ul li.wind i.ic.state7 {
  background-position-y: -300px; }

article.weather .weatherWrap .bottomBox ul li.wind i.ic.state8 {
  background-position-y: -350px; }

article.weather .weatherWrap .bottomBox ul li.wind i.ic.state9 {
  background-position-y: -400px; }

article.weather .weatherWrap .bottomBox ul li.wind i.ic.state10 {
  background-position-y: -450px; }

article.weather .weatherWrap .bottomBox ul li.wind i.ic.state11 {
  background-position-y: -500px; }

article.weather .weatherWrap .bottomBox ul li.wind i.ic.state12 {
  background-position-y: -550px; }

article.weather .weatherWrap .bottomBox ul li.wind i.ic.state13 {
  background-position-y: -600px; }

article.weather .weatherWrap .bottomBox ul li.wind i.ic.state14 {
  background-position-y: -650px; }

article.weather .weatherWrap .bottomBox ul li.wind i.ic.state15 {
  background-position-y: -700px; }

article.weather .weatherWrap .bottomBox ul li.wind i.ic.state16 {
  background-position-y: -750px; }

article.weather .weatherWrap .bottomBox ul li.wind i.ic.state17 {
  background-position-y: -800px; }

article.weather .weatherWrap .bottomBox ul li.temp i.ic {
  display: inline-block;
  vertical-align: middle;
  background: url("../img/ic_temp.png") no-repeat center center;
  width: 26px;
  height: 26px; }

article.weather .weatherWrap .bottomBox ul li.kp .num {
  margin-left: 4px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  border: 0.7px solid #000;
  text-align: center;
  color: #fff;
  line-height: 17px;
  padding-bottom: 2px;
  background-color: #468e22;
  font-size: 13px;
  font-weight: 700; }

.relative {
  position: relative; }

.inner {
  margin: 0 auto; }

.mobile {
  display: none; }

.ic {
  display: inline-block;
  vertical-align: middle; }

label {
  display: inline-block;
  vertical-align: middle;
  line-height: 1; }

.clearfix:after {
  content: "";
  display: block;
  position: absolute; }

.ml5 {
  margin-left: 5px; }

.ml10 {
  margin-left: 10px; }

.mt10 {
  margin-top: 10px; }

.mt30 {
  margin-top: 20px; }

.mt40 {
  margin-top: 40px; }

.pt10 {
  padding-top: 10px; }

.pt40 {
  padding-top: 40px; }

.ic {
  display: inline-block;
  vertical-align: middle;
  font-size: 0; }

.overlay:before {
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  background: rgba(0, 0, 0, 0.75);
  position: fixed;
  z-index: 500; }

.overlay2:before {
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  background: rgba(0, 0, 0, 0.75);
  position: fixed;
  z-index: 550; }

article.paging {
  font-size: 0;
  text-align: center;
  padding: 20px 0; }

article.paging ul {
  display: inline-block;
  vertical-align: middle; }

article.paging ul li {
  display: inline-block;
  vertical-align: middle;
  position: relative; }

article.paging ul li.num.current a {
  font-weight: 700;
  background-color: #376187;
  color: #fff;
  border: 1px solid #376187;
  border-radius: 50%; }

article.paging ul li.num a {
  font-size: 10px;
  color: #b2b2b2; }

article.paging ul li.prev {
  background: url("../img/ic_paging_prev.png") no-repeat center;
  width: 22px;
  height: 22px;
  margin-right: 3.5px; }

article.paging ul li.next {
  background: url("../img/ic_paging_next.png") no-repeat center;
  width: 22px;
  height: 22px;
  margin-left: 3.5px; }

article.paging ul li a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 22px;
  height: 22px;
  border-radius: 2px; }

/*# sourceMappingURL=ui.css.map */

/*# sourceMappingURL=ui.css.map */